extends: default
rules:
  document-start:
    present: false
  indentation:
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: false
  line-length:
    max: 79
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
